:root {
    --primary-color: #007bff; 
    --secondary-color: #6c757d; 
    --background-color: rgb(22, 21, 21); 
    --surface-color: #343a40;
    --text-color: #9fb0c4;
    --heading-font: 'Playfair Display', serif;
    --body-font: 'Montserrat', sans-serif;
    --shadow-light: 0 4px 12px rgba(0, 0, 0, 0.05);
    --shadow-medium: 0 8px 25px rgba(159, 176, 196, 1);
}

* {
    margin: 0;
}

body {
    font-family: var(--body-font);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: #0056b3;
}

ul {
    list-style: none;
}

.main-header {
    background-color: var(--surface-color);
    padding: 0.7% 0.7% 0.7% 0.7%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo {
    font-family: var(--heading-font);
    font-size: 25px;
    font-weight: 700;
    color: var(--primary-color);
}

.main-nav ul {
    display: flex;
    gap: 40px;
}

h2{
    font-family: var(--heading-font);
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
    
}
h4{
    padding-top: 20px;
    color:var(--primary-color);
    font-size: 40px;
}
p{
    font-size: 30px;

}






